li{
  list-style: none;
  padding-bottom: 10px
}
a{
  text-decoration: none;
}
.main{
	background-image: url(main7.jpeg);
	background-size: cover;
  }
body{
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
  width:100%;
}

header {
	

}

.header-contents {
  float:left;
background-color:rgba(0 ,0 ,0 ,0.5);
width:100%;
}

.header-contents img{
	
	width:10%;
  float:left;
}
.header-contents a{
float:right;
color:white;
padding: 40px 20px;
font-size:20px;
}

.header-contents :hover{
  cursor:pointer;
  border-bottom: 1px solid white;
  
}
.main{
	margin-bottom: 25px;
  top:0px;
  padding-top: 350px;

  

}
.main h1 {
color:white;
font-size:90px;
padding-left:10%;
margin:0 auto;
}
 .read {
  padding: 20px 80px;
  color: white;
  display: inline-block;
  background-color: transparent;
  margin-left: 10%;
  font-size: 18px;
  margin-top:30px;
  margin-bottom:30px;
}
.read:hover{
background-color:rgba(116,42,0);
cursor: pointer; 
transition: 0.5s;
}
.help{
  width: 80%;
margin :0 auto;
height: 400px

}

.help h1{
  color:rgba(116,42,0);
  font-size:50px;
  padding:10px 1%;
}
.a{
  float:left;
  width:30%;
  margin-right:20px;

}
.helpimage {
width:95%;

}


.helpcontents {
  
  font-size:30px;
  width:100%; 
  display: inline-block;
  width:70%;
  color:rgba(116,42,0);
  padding-top: 10px;
}
.helpcontents:hover{
   border-bottom: 1px solid rgba(116,42,0);
  
  cursor: pointer;
}
.house{
  
}
.office{

}
.abroad{
height:187px;
}
.middle{
  background-color:rgba(107,47,7);
}
.estimate{
  
  width: 80%;
  margin:0 auto;
}
.estimate p{
  color:rgba(255,200,52);
  padding-top: 30px;
  font-size: 20px;

}
.estimate h1{
  color:white;
  font-size: 60px;
}
footer{
  background-color:rgba(26,26,26);
  height: 300px
}
.b{
  width: 25%;
  color:white;
  float:left;
}
.b img{
  width :30%;
}
.email{
  padding-bottom: 40px;
}
h5{
  padding-bottom: 30px;
}
.b a{
  padding-bottom: 10px;
  display: block;
  color:white;
}
.button{
  display: inline-block;
  border:1px solid white;
  padding:20px 80px;
  color:white;
  margin-bottom: 50px;

}
.button:hover{
background-color: rgba(234,138,18);
transition: 0.5s;
font-size: 20px;
}
.social{
  height: 300px;
  text-align: center;
}
.social h2{
color:#00008b;
font-size: 40px;
padding-top: 10px;
padding-left: 10%;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}
.social{

}
