a{
  text-decoration: none;
}
body{
	background-image: url(main3.jpeg);
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
  width:100%;
}
.main{
	background-color:rgba(136,190,31,0.8);
	width:50%;
	margin:0 auto;
	margin-top:70px;
	height: 950px;
}
h1{
	color:white;
	font-size: 50px;
	text-align: center;
	padding-top: 30px;
}
.inputs{
	padding-left: 23%;

}
p{
	color:white;
	font-size: 20px;
}
.select{
	padding:10px 150px;
	font-size: 15px;
}
.submit{
	display: inline-block;
	color:white;
	background-color: transparent;
	border:1px solid green;
	padding:10px 50px;
	font-size:20px;
}
.submit:hover{
	background-color: green;
	transition: 0.5s;
}
.list{

	width: 80%;
	font-size: 20px;
	top:100px;
	height: 40px;
}


